/* Resetting default styles */
h1 {
    background: linear-gradient(to right, red, red, green, #32CD32);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    color:#009688 ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white;
    font-family:'Times New Roman', Times, serif, sans-serif;
}

header {
    background-color:#009688;
    color: #fff;
    padding: 20px 0;
}

 nav ul {
     list-style: none;
     padding: 0;
     text-align: center;
 }

 nav ul li {
     display: inline-block;
   
     margin: 0 5px;
     
 }

 nav a {
     color: #fff;
     text-decoration: none;
 }

 @media only screen and (max-width: 768px) {
     nav ul {
         display: flex;
      
         justify-content: center;
      
         flex-wrap: wrap;
       
     }

     nav ul li {
         flex: 0 0 calc(50% - 10px);
        
         margin: 10px;
        
     }
 }

footer {
    background-color:#009688;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 5px solid #009688;
    margin: 20px 0;
}

.project {
    margin-bottom: 20px;
}

.project a {
    color: #007bff;
    text-decoration: none;
}
.contact-details p {
    margin-bottom: 10px;
   




.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}


@media only screen and (max-width: 320px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .card {
        margin: 20px;
    }
}
}
    